@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

.headerComponent{
    font-family: 'DM Serif Display', serif;
    font-size: 70px;
    width: 50%;
    padding-left: 5%;
    text-align: left;
}